# OS Files
.DS_Store
Thumbs.db

# Language and Frameworks Files
.sass-cache
npm-debug.log

# Files Downloaded with Package Managers
bower_components
node_modules
public
docs
dest

#For IDE
*.iml
*.ipr
*.iws
.idea/
/Web.config
/jsconfig.json
