<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Nanodesu Translation Editor</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="assets/libs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="assets/libs/simplemde/dist/simplemde.min.css">
    <link rel="stylesheet" href="assets/libs/font-awesome-bower/css/font-awesome.css">
    <!--<link rel="stylesheet" href="assets/libs/select2/css/select2.min.css">-->
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body ng-app="nanodesuApp">
    <nav class="navbar navbar-default no-margin">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header fixed-brand">
            <a class="navbar-brand" href="#/">
                <i class="fa fa-rocket fa-lg" aria-hidden="true"></i>
                Nanodesu
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="LoginCtrl">
            <ul class="nav navbar-nav nav-pills">
                <li ng-class="{active: curActive() == 'main'}"><a href="#/"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a></li>
                <li ng-class="{active: curActive() == 'series'}" ng-show="isLogin() && hasSeries()">
                        <a href="javascript:return false;" ng-click="gotoSeries()">Series</a>
                </li> 
                <li ng-class="{active: curActive() == 'page'}" ng-show="isLogin() && hasPage()">
                    <a href="javascript:return false;" ng-click="gotoPage()">Page</a>
                </li>
                <li class="disabled">
                    &nbsp;
                </li>
                <li ng-class="{active: curActive() == 'build'}" ng-show="isLogin()">
                    <a href="#/build">
                        Generate
                        <i class="fa fa-cloud-upload fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right form-group">
                <!-- only one of these will be visible at a time
                    TODO: apparently this requires a variable? -->
                <li class="dropdown" ng-show="isLogin()">
                    <!-- TODO: an issue with this dropdown.
                    Might be solved by including bootstrap.js again or angularUI-bootstrap? -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{loginName()}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="disabled">Profile</a></li>
                        <li><a href="#/login">Sign Out</a></li>
                    </ul>
                </li>
                <li ng-hide="isLogin()"><a href="#/login">Sign In</a></li>

            </ul>
        </div>
    </nav>


    <!-- Page Content -->
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-lg-12" ng-view="">
                <!-- content loaded in here -->
            </div>
        </div>
    </div>

    <!-- Assets managed by bower -->
    <script src="assets/libs/jquery/dist/jquery.min.js"></script> <!-- deprecated - NOT! apparently simplemde depends on jQuery. -->
    <script src="assets/libs/angular/angular.min.js"></script>
    <script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script> <!-- deprecated? TODO: To be replaced if possible by angular-ui -->
    <script src="assets/libs/angular-route/angular-route.min.js"></script>
    <script src="assets/libs/angular-resource/angular-resource.min.js"></script>
    <script src="assets/libs/angular-touch/angular-touch.min.js"></script>
    <script src="assets/libs/angular-cookies/angular-cookies.min.js"></script>
    <script src="assets/libs/simplemde/dist/simplemde.min.js"></script>
    <!-- End assets managed by bower -->

    <script src="assets/js/scripts.js"></script>

    <script src="app/app.js"></script>
    <script src="app/login/controllers/LoginCtrl.js"></script>
    <script src="app/home/controllers/HomeCtrl.js"></script>
    <script src="app/about/controllers/AboutCtrl.js"></script>
    <script src="app/page/controllers/PageCtrl.js"></script>
    <script src="app/page/controllers/PageAddCtrl.js"></script>
    <script src="app/page/controllers/PageEditCtrl.js"></script>
    <script src="app/series/controllers/SeriesCtrl.js"></script>
    <script src="app/series/controllers/SeriesAddCtrl.js"></script>
    <script src="app/series/controllers/SeriesEditCtrl.js"></script>
    <script src="app/series/controllers/SeriesViewCtrl.js"></script>
    <script src="app/series/controllers/SeriesNewCtrl.js"></script>
    <script src="app/generate/controllers/GenerateCtrl.js"></script>
    <script src="app/app-services/PageService.js"></script>
    <script src="app/app-services/SeriesService.js"></script>
    <script src="app/app-services/AuthService.js"></script>
    <script src="app/app-services/NavService.js"></script>
    <script src="app/app-services/GenerateService.js"></script>
</body>
</html>
