<form role="form" name="blogForm" class="form-horizontal" ng-submit="submit()">
    <div ng-if="blogForm.$pristine">
        <nd-save title="Blog Management Form for {{ series.name }}" url="blogs/{{ series.id }}" done="true"></nd-save>
    </div>
    <div ng-if="blogForm.$dirty">
        <nd-save title="Blog Management Form for {{ series.name }}" url="blogs/{{ series.id }}" done="false"></nd-save>
    </div>
    <hr />
    <div class="controls">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <textarea id="content"></textarea>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pane panel-danger">
                    <div class="panel-heading">
                        Information
                        <button type="button" ng-click="help()" class="close">
                            <i class="fa fa-question" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="title" class="control-label col-sm-4">Title</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="blog.meta.title" class="form-control" id="title" name="title" required placeholder="Title..." />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for"pinned" class="control-label col-sm-4">Pinned Post</label>
                            <div class="col-sm-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="blog.meta.blog.pinned" ng-true-value="1" ng-false-value="0" />
                                        Yes
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for"published" class="col-sm-4">Published Date</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="blog.meta.blog.published_date" uib-datepicker-popup is-open="popup.opened" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openDate()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="status" class="control-label col-sm-4">Status</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="status" ng-model="blog.meta.status">
                                    <option disabled>--Please Select...--</option>
                                    <option value="9">Published</option>
                                    <option value="5">Draft</option>
                                    <option value="0">Hidden</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
