<div class="jumbotron">
    <h1>Wellcome!</h1>
    <h2>Nanodesu Translations Website</h2>
    <p>This is official Nanodesu Translations Admin Website. Where we're create and posting for Light Novel Translations.</p>
    <p>Please check the manual documentation for how to use this website: <a href="#">[Coming Soon]</a>
</div>
<div class="center-block text-center">
    <a href="/project" class="btn btn-lg btn-success">
        Let's Get Started
    </a>
    <a href="/posting" class="btn btn-lg btn-danger">
        Ready to Post
    </a>
</div>
