<div class="jumbotron">
    <h1>Wellcome!</h1>
    <h2>Nanodesu Translations Website</h2>
    <p>This is official Nanodesu Translations Admin Website. Where we're create and posting for Light Novel Translations.</p>
    <p>Please check the manual documentation for how to use this website: <a href="https://docs.google.com/document/d/13nAsIlZUqOgLkLDwqtZyhaPb6pNqTXGQVXawvD076qU/edit?usp=sharing">Docs</a>
</div>
<div class="center-block text-center">
    <a href="#/projects/list" class="btn btn-lg btn-success">
        Project List
    </a>
    <button type="button" ng-click="panelAction(true)" class="btn btn-lg btn-danger">
        Deploy
    </button>
</div>
<br />
<div ng-show="panel" class="col-md-4 col-md-offset-4 text-center">
    <div class="panel panel-danger">
        <div class="panel-heading">
            Ready to Posting
            <button ng-click="panelAction(false)" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button> 
        </div>
        <div class="panel-body">
            <button type="button" class="btn btn-warning" ng-click="preview()">
                Preview
            </button>
            <button type="button" class="btn btn-danger" ng-click="deploy()" ng-show="isAdmin">
                Post
            </button>
        </div>
    </div>
</div>
