<div class="jumbotron">
    <h1>Wellcome!</h1>
    <h2>Nanodesu Translations Website</h2>
    <p>This is official Nanodesu Translations Admin Website. Where we're create and posting for Light Novel Translations.</p>
    <p>Please check the manual documentation for how to use this website: <a href="#">[Coming Soon]</a>
    <p>For further information please contact:</p>
    <ul>
        <li><a href="mailto:sukma.wardana@mail.com">swhp</a></li>
        <li><a href="mailto:sukma.wardana@mail.com">yarn</a></li>
    </ul>
</div>
<div class="center-block text-center">
    <a href="/series" class="btn btn-lg btn-primary">Start</a>
</div>
