<form role="form" name="translationForm" class="form-horizontal" ng-submit="submit()">
    <div ng-if="translationForm.$pristine">
        <nd-save title="Translations Management Form for {{ series.name }}" url="translations/{{ series.id }}" done="true"></nd-save>
    </div>
    <div ng-if="translationForm.$dirty">
        <nd-save title="Translations Management Form for {{ series.name }}" url="translations/{{ series.id }}" done="false"></nd-save>
    </div>
    <hr />
    <div class="controls">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <textarea id="content"></textarea>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pane panel-danger">
                    <div class="panel-heading">
                        Information
                        <button type="button" ng-click="help()" class="close">
                            <i class="fa fa-question" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="title" class="control-label col-sm-2">Title</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="page.meta.title" class="form-control" id="title" name="title" required placeholder="Title..." />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nav_title" class="control-label col-sm-2">Menu Title</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="page.meta.nav_title" class="form-control" id="nav_title" name="nav_title" placeholder="Menu Title..." />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="status" class="control-label col-sm-2">Status</label>
                            <div class="col-sm-8">
                                <select id="status" ng-model="page.meta.status" class="form-control">
                                    <option disabled>--Please Select--</option>
                                    <option value="0">Hidden</option>
                                    <option value="5">Draft</option>
                                    <option value="9">Published</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="order" class="control-label col-sm-2">Order</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="page.meta.order" class="form-control" id="order" name="order" placeholder="Order of the Translations..." />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="path" class="control-label col-sm-2">
                                Path<br />
                                <sub>*Optional</sub>
                            </label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="page.meta.path" class="form-control" id="path" name="path" placeholder="Custom URI..." />
                            </div>
                        </div>
                        <h4>Hierarchy</h4>
                        <div class="form-group" ng-repeat="hr in hierarchy">
                            <label for="{{ hr.label }}" class="control-label col-sm-2">{{ hr.label }}</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="hr.value" class="form-control" id="{{ hr.label }}" name="{{ hr.label }}" placeholder="{{ hr.label }}..." />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</form>
