<div class="page-header">
    <h1>Blog Post</h1>
</div>
<a ng-href="#/blog/{{ seriesId }}/add" class="btn btn-success">
    <span class="glyphicon glyphicon-plus"></span>
    Create Post
</a>
<hr />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Pinned</th>
            <th>Created by</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="blog in blogs | filter:{'series': seriesId}">
            <td>{{ blog.meta.title }}</td>
            <td>{{ blog.meta.status == 9 ? 'Published' : 'Draft'}}</td>
            <td>{{ blog.meta.blog.pinned == 1 ? 'Yes' : 'No'}}</td>
            <td>{{ blog.meta.blog.author }}</td>
            <td>
                <a ng-href="#/blog/{{ seriesId }}/edit/{{ blog.id }}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil">
                    Edit
                </a>
                <button type="button" class="btn btn-danger" ng-click="delete(blog.id)">
                    <span class="glyphicon glyphicon-trash">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>
