<div class="page-header">
    <h1>Blog Edit</h1>
</div>
<div class="controls">
    <form role="form" ng-submit="editBlog()">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" 
                name="title" placeholder="Title..." ng-model="meta.title" />
        </div>
        <div class="form-group">
            <label for"pinned">Pinned Post</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="blog.pinned" 
                        ng-true-value="1" ng-false-value="0" />
                    Yes
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for"pinned">Published Date</label>
            <div class="input-group col-md-2 col-sm-4">
                <input type="text" class="form-control" ng-model="dt"
                    uib-datepicker-popup is-open="popup.opened" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openDate()">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="published">Status</label>
            <select class="form-control" ng-model="meta.published">
                <option disabled>--Please Select...--</option>
                <option value="9">Published</option>
                <option value="5">Draft</option>
            </select>
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea id="content" ng-model="blog.content"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Submit</button>
            <a ng-href="#/blog/{{ seriesId }}" class="btn btn-warning">Back</a>
        </div>
    </form>
</div>

