<div class="page-header">
    <h1>Blog Post</h1>
</div>
<a ng-href="#/blog/{{ seriesId }}/add" class="btn btn-success">
    <span class="glyphicon glyphicon-plus"></span>
    Create Post
</a>
<hr />
<form class="form-inline">
    <div class="form-group">
        <label >Search</label>
        <input type="text" ng-model="search" class="form-control" placeholder="Search">
    </div>
</form> 
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Status</th>
            <th>Pinned</th>
            <th>Created by</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="blog in blogs | filter:{'series': seriesId} | orderBy:sortKey: reverse | filter: search | itemsPerPage: 5">
            <td>{{ $index+1 }}</td>
            <td>{{ blog.meta.title }}</td>
            <td>
                <span ng-if="blog.meta.status === 0">Hidden</span>
                <span ng-if="blog.meta.status === 5">Draft</span>
                <span ng-if="blog.meta.status === 9">Published</span>
            </td>
            <td>{{ blog.meta.blog.pinned == 1 ? 'Yes' : 'No'}}</td>
            <td>{{ blog.meta.blog.author }}</td>
            <td>{{ blog.meta.created * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td><span ng-if="blog.meta.updated !== 0">{{ blog.meta.updated * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</span></td>
            <td>
                <a ng-href="#/blog/{{ seriesId }}/edit/{{ blog.id }}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil">
                    Edit
                </a>
                <button type="button" class="btn btn-danger" ng-click="delete(blog.id)">
                    <span class="glyphicon glyphicon-trash">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>
<dir-pagination-controls
    max-size="5"
    direction-links="true"
    boundary-links="true">
</dir-pagination-controls> 
