<div class="page-header">
    <h1>Create Page: <span class="small">{{ propsTitle ? propsTitle : "untitled" }}</span></h1>
    <h3>In Series: {{ sr.name }}</h3>
</div>
<div class="panel">
    <div class="panel-body">
        <div class="controls">
            <form role="form" class="form-horizontal">
                <div class="form-group">
                    <label for"title" class="col-sm-2">Title</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="title" placeholder="title" ng-model="propsTitle">
                    </div>
                </div>
                <h4>Hierarchy</h4>
                <!-- TODO: aria attributes to support accessibility -->
                <div class="form-group" ng-repeat="hr in propsHr">
                    <label for="tx{{ hr.label }}" class="col-sm-2">{{ hr.label }}</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="tx{{ hr }}" placeholder="{{ hr.label }}" ng-model="hr.value">
                    </div>
                </div>
                <div class="form-group">
                    <label for="status" class="col-sm-2">Status</label>
                    <div class="col-sm-8">
                        <select id="status" class="form-control" ng-model="propsStatus">
                            <option value="1">Publish</option>
                            <option value="2">Draft</option>
                            <option value="3">N/A</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPagePath" class="col-sm-2 control-label">Path</label>
                    <div class="col-sm-8">
                        <input type="text" name="pagepath" id="inputPagePath" class="form-control" ng-model="propsPath" placeholder="Path (optional)">
                    </div>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="cancelProps()">
                        <i class="glyphicon glyphicon-remove text-danger"></i> Cancel
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="saveProps()">
                        <i class="glyphicon glyphicon-save"></i> Create
                    </button>&nbsp;
                </div>
            </form>
        </div>
    </div>
</div>
