<div class="page-header">
    <h1>Pages List</h1>
</div>

<div class="form-group">
    <label>Choose Series:</label>
    <select class="select" ng-model="series" ng-change="update()">
        <option ng-repeat="sr in series" value="{{ sr.id }}">{{ sr.name }}</option>
    </select>
    <button type="button" class="btn btn-default glyphicon glyphicon-refresh" ng-click="refresh()" />
</div>
<div ng-show="show">
    <hr />
    <button type="button" class="btn btn-success" ng-click="redirect(series)">
        <span class="glyphicon glyphicon-pluss"></span>
        Create New
    </button>
    <hr />
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dt in page | filter:{'series':series}">
                <td>{{ dt.meta.title }}</td>
                <td>
                    <button type="button" ng-click="redirect(series,dt.id)" class="btn btn-primary">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Edit
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="delete(dt.id)">
                        <span class="glyphicon glyphicon-trash"></span>
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(".select").select2({
        placeholder: "Select a Series",
    });
</script>
