<div class="page-header">
    <h1>Page: <span ng-class="{ small: propsOpen }">{{ propsOpen ? "editing" : pg.meta.title }}</span></h1>
    <h3>Series: {{ sr.name }}</h3>
</div>
<div class="panel">
    <div class="panel-body">
        <div ng-show="propsOpen" class="controls">

            <form role="form" class="form-horizontal">
                <!--<div class="form-group">
                    <button type="button" class="btn btn-warning" ng-click="redirect()">Back</button>
                    <button type="button" class="btn btn-success pull-right" ng-click="next()">Next</button>
                </div>-->
                <div class="form-group">
                    <label for"title" class="col-sm-2">Title</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="title" placeholder="title" ng-model="propsTitle">
                    </div>
                </div>
                <h4>Hierarchy</h4>
                <!-- TODO: aria attributes to support accessibility -->
                <div class="form-group" ng-repeat="hr in propsHr">
                    <label for="tx{{ hr.label }}" class="col-sm-2">{{ hr.label }}</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="tx{{ hr }}" placeholder="{{ hr.label }}" ng-model="hr.value">
                    </div>
                </div>
                <div class="form-group">
                    <label for="status" class="col-sm-2">Status</label>
                    <div class="col-sm-8">
                        <select id="status" class="form-control" ng-model="propsStatus">
                            <option value="1">Publish</option>
                            <option value="2">Draft</option>
                            <option value="3">N/A</option>
                        </select>
                    </div>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="cancelProps()">
                        <i class="glyphicon glyphicon-remove text-danger"></i> Cancel
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="saveProps()">
                        <i class="glyphicon glyphicon-save"></i> Update
                    </button>&nbsp;
                </div>
            </form>
        </div>
        <form role="form" class="simple-form">
            <div ng-hide="propsOpen" class="form-group col-sm-8 pull-right">
                <button type="button" class="btn btn-default pull-right" ng-click="openProps()">
                    <i class="fa fa-gear text-primary"></i> Properties
                </button>
            </div>
        </form>
    </div>
    <div>
        <!--- Do we need a button to cancel all? -->
        <button type="button" class="btn btn-primary" ng-click="save()">
            <span class="glyphicon glyphicon-save"></span>
            Save All
        </button>
    </div>
    <form role="form" class="simple-form">
        <div ng-hide="propsOpen">
            <div class="form-group">
                <label for"content">Content</label>
                <textarea id="content"></textarea>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    // debugger;  NOTE: for some reason this script wasn't being executed anyhow.  The functionality has been moved into the controller.
    // var simplemde = new SimpleMDE({ element: document.getElementById("content") });
</script>
