<div class="page-header">
    <h1>Pages for {{sr.name}}</h1>
</div>
<div>
    <div class="panel panel-body">
        <div ng-show="propsOpen">
            <h4>TODO: include editing page for series properties</h4>
        </div>
        <div >
            <button ng-show="!propsOpen" type="button" class="btn btn-info pull-right" ng-click="openProps()">
                <i class="fa fa-gear"></i> Properties
            </button>
            <button ng-show="propsOpen" type="button" class="btn btn-success pull-right" ng-click="saveProps()">
                <i class="glyphicon glyphicon-save"></i> Save changes
            </button>
        </div>    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dt in page | filter:{'series':sr.id}">
                <td>{{ dt.meta.title }}</td>
                <td>
                    <button type="button" ng-click="redirect(sr.id,dt.id)" class="btn btn-info">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Edit
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="delete(dt.id)">
                        <span class="glyphicon glyphicon-trash"></span>
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-info" ng-click="redirect(sr.id)">
        <span class="glyphicon glyphicon-plus"></span>
        Add page
    </button>
</div>
<script type="text/javascript">
    $(".select").select2({
        placeholder: "Select a Series",
    });
</script>
