<div class="page-header">
    <h1>
        Series: <span ng-class="{ small : propsOpen || !sr.name }">
            {{propsOpen && admin ? "editing" : (sr.name ? sr.name : "untitled")}}
        </span>
    </h1>
</div>
<div class="panel">
    <div class="panel panel-body">
        <div ng-show="propsOpen">
            <!-- TODO: move contents of this form to a partial template -->
            <!-- Begin (temp) series props form -->
            <div class="controls">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label for="name" class="control-label col-sm-2">Title</label>
                        <div class="col-sm-8">
                            <input type="text" id="name" name="name" class="form-control" placeholder="Title" 
                                ng-disabled="!admin" ng-model="sr.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status" class="control-label col-sm-2">Status</label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="status">
                                <option disabled>--Please Select...--</option>
                                <option value="0">Hidden</option>
                                <option value="9">Published</option>
                                <option value="5">Draft</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="inputHeaderURL" class="col-sm-2 control-label">Header Image URL</label>
                        <div class="col-sm-8">
                            <input type="url" name="headerURL" id="inputHeaderURL" class="form-control" placeholder="URL for header image" title="Header Image URL" 
                                ng-disabled="!admin" ng-model="propsHeaderURL">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <h4 class="control-label col-sm-2">Hierarchy:</h4>
                    </div>

                    <!-- Dynamic fields from http://mrngoitall.net/blog/2013/10/02/adding-form-fields-dynamically-in-angularjs/ -->
                    <div class="form-group" data-ng-repeat="tr in propsTiers">
                        <label class="control-label col-sm-2" for="{{'level'+$index}}">level {{$index}}</label>
                        <div class="col-sm-3">
                            <div class="entry input-group" id="hierarchy">
                                <input type="text" ng-model="tr.name" ng-disabled="!admin" class="form-control" id="{{'level'+$index}}" name="{{'level'+$index}}">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-disabled="!admin" aria-label="Remove" ng-click="removeTier($index)">
                                        <span class="glyphicon glyphicon-remove text-danger"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 col-sm-offset-2">
                            <button type="button" class="btn btn-default" ng-disabled="!admin" ng-click="addTier()">
                                <span class="glyphicon glyphicon-plus text-primary"></span>&nbsp;
                                Add hierarchy level
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- End (temp) series props form -->
            <div class="pull-right">
                <button type="button" class="btn btn-default" ng-click="cancelProps()">
                    <i class="glyphicon glyphicon-remove text-danger"></i> {{ (admin ? "Cancel" : "Close") }}
                </button>
                <button type="button" class="btn btn-primary" ng-show="admin" ng-click="saveProps()">
                    <i class="glyphicon glyphicon-save"></i> Save
                </button>&nbsp;
            </div>
        </div>
        <div ng-hide="propsOpen">
            <button type="button" class="btn btn-default pull-right" ng-click="openProps()">
                <i class="fa fa-gear text-primary"></i> Properties
            </button>
        </div>
    </div>
    <a ng-href="#/blog/{{ sr.id }}" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        Create Blog Post
    </a>
    <h3>Pages</h3>
    <form class="form-inline">
        <div class="form-group">
            <label >Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
    </form> 
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Status</th>
                <th>Hierarchy</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="dt in page | filter:{'series':sr.id} | filter: search | itemsPerPage: 10">
                <td>{{ $index + 1 }}</td>
                <td>{{ dt.meta.title }}</td>
                <td>
                    <span ng-if="dt.meta.status === 0">Hidden</span>
                    <span ng-if="dt.meta.status === 5">Draft</span>
                    <span ng-if="dt.meta.status === 9">Published</span>
                </td>
                <td>
                    <span ng-repeat="series in sr.config.hierarchy">
                        <b>{{ series }}:</b> 
                        <span ng-if="dt.meta[series] === null"><i>null;</i></span>
                        <span ng-if="dt.meta[series] !== null">{{ dt.meta[series] }};</span>
                    </span>
                </td>
                <td>{{ dt.meta.created * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td><span ng-if="dt.meta.updated !== 0">{{ dt.meta.updated * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</span></td>
                <td>
                    <button type="button" ng-click="redirect(sr.id,dt.id)" class="btn btn-default">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Edit
                    </button>
                    <button type="button" class="btn btn-warning" ng-click="delete(dt.id)">
                        <span class="glyphicon glyphicon-trash"></span>
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <dir-pagination-controls
        max-size="5"
        direction-links="true"
        boundary-links="true">
    </dir-pagination-controls> 
    <br />
    <button type="button" class="btn btn-default" ng-click="redirect(sr.id)">
        <span class="glyphicon glyphicon-plus text-primary"></span>
        Add page
    </button>
</div>
